body{
    background-color: #353131;
    color: #006eff;

}
.cabeçalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 70px;
}

.logo{
    width: 25%;
}